<template>

<section class="lp-compete">
  <div class="lp-compete__container">
   <div class="lp-compete__photo"><img src="@/assets/img/smiling-people.jpg" ></div>
   <!-- <div class="lp-compete__photo"><img src="img/smiling-people.jpg" alt="" srcset="img/smiling-people@2x.jpg 2x"></div> -->
   <div class="lp-compete__text">
    <h1>Master important school concepts</h1>
    <p>We use evidence-based technics to build the most reliable multiple-choice questions with the most UpToDate content</p>
    <a href="#">
     <button class="general-btn purple-btn" @click="$router.push('/choose-subject')">Choose subject
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
       <path fill="#ffffff" id="black-arrow" d="M15.012,3.75H0v2.5H15.012V10L20,5,15.012,0Z" />
      </svg>
     </button>
    </a>
   </div>
  </div>
 </section>

</template>

<script>
export default {

}
</script>
