<template>
  <section class="lp-plan" id="about">
    <!--Global container-->
    <div class="container">
      <!-- Header -->
      <header class="lp-plan__header">
        <!-- Title -->
        <h2 class="lp-plan__title">Who are we?</h2>
      </header>
      <div class="lp-plan__wrapper">
        <p
          :style="{fontSize: '24px'}"
        >We are an educational organization based in California that strives for academic excellence. At Quizoor, we break difficult concepts into small pieces wrapped into simple specific questions to make things easy for students. We believe that knowledge multiplies when it is shared. Our contents are developed by experienced teachers and domain professionals who have in heart to share their knowledge.</p>
      </div>
    </div>
  </section>
</template>
