
<template>
  <div id="data-list-list-view" class="data-list-container">

<!--     <RequestQuizzForm :isSidebarActive="addNewDataSidebar"  @closeSidebar="addNewDataSidebar = false"/>
 -->
    <RequestQuizzForm :isSidebarActive="addNewDataSidebar"  @closeSidebar="toggleDataSidebar" :data="sidebarData"/>

    <!-- <vs-card> -->
    <vs-table ref="table" multiple v-model="selected"  pagination :max-items="itemsPerPage" search :data="requestQuizzes">

      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

        <div class="flex flex-wrap-reverse items-center">
<!--           <vs-button color="danger" type="filled" :style="{marginRight: '10px'}" @click="multipleLevelDelete"><feather-icon icon="TrashIcon" svgClasses="h-4 w-4" /> {{$t('delete')}}</vs-button>
 -->          <vs-button color="success" type="filled" @click="newData"><feather-icon icon="PlusIcon" svgClasses="h-4 w-4" /> {{$t('new')}}</vs-button>
        </div>

        <!-- ITEMS PER PAGE -->
        <vs-dropdown vs-trigger-click class="cursor-pointer mb-4 mr-4">
          <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2">{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} - {{ requestQuizzes.length - currentPage * itemsPerPage > 0 ? currentPage * itemsPerPage : requestQuizzes.length }} of {{ requestQuizzes.length }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
          </div>
          <vs-dropdown-menu>
            <vs-dropdown-item @click="itemsPerPage=5">
              <span>5</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=10">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=15">
              <span>15</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=20">
              <span>20</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

      <template slot="thead">
        <vs-th sort-key="numberOfQuestions">{{$t('numberOfQuestions')}}</vs-th>
         <vs-th sort-key="filename">{{$t('filename')}}</vs-th>
          <vs-th sort-key="secondFilename">{{$t('secondFilename')}}</vs-th>
       <!--  <vs-th sort-key="status">{{$t('status')}}</vs-th> -->
        <vs-th sort-key="location">{{$t('create_date')}}</vs-th>
        <vs-th sort-key="_id">{{$t('action')}}</vs-th>
      </template>

      <template slot-scope="{data}">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <p class="product-name font-medium">{{ tr.numberOfQuestions }}</p>
            </vs-td>

             <vs-td>
              <p class="product-name font-medium">{{ tr.filename }}</p>
            </vs-td>

             <vs-td>
              <p class="product-name font-medium">{{ tr.secondFilename }}</p>
            </vs-td>
           <!--  <vs-td>
              <vs-chip :color="getOrderStatusColor(tr.status)" class="product-order-status">{{ tr.status }}</vs-chip>
            </vs-td> -->
            <vs-td>
              <p class="product-name font-medium">{{ tr.create_date }}</p>
            </vs-td>
            <vs-td>
              <!-- <action-button-group :ID="tr._id" :status="tr.status"></action-button-group> -->

               <feather-icon style="color: orange" icon="EyeIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2" @click.stop="listInput = data[indextr], listPopupActivo=true" />
            <feather-icon style="color: green" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2" @click.stop="edit(tr)" />
              <feather-icon style="color: red"  icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="DeleteRequestQuizz(tr._id)" />
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
    <!-- </vs-card> -->
  </div>
</template>

<script>
import RequestQuizzForm from './RequestQuizzForm.vue';
import EditForm from './EditForm.vue';
import ActionButtonGroup from '../../components/ActionButtonGroup.vue'
import { GETLEVEL } from '@/store/actionType';
import AdminService from '@/services/admin.service.js';
import UserService from '@/services/user.service.js';
export default {
  components: {
    RequestQuizzForm,
    EditForm,
    ActionButtonGroup
  },
  data() {
    return {
      selected: [],
      levels: [],
      itemsPerPage: 10,
      isMounted: false,
      addNewDataSidebar: false,
      editDataSidebar: false,
      sidebarData: {},
      requestQuizzes: [],
      //FILE_URL : 'localhost/quizoor/backend/uploads/',
    }
  },
  computed: {
    currentRoute() {
      return this.$router.currentRoute.name;
    },
    currentPage() {
      if(this.isMounted) {
        return this.$refs.table.currentx
      }
      return 0
    }
  },
  methods: {
    getQuizz(){
        this.$vs.loading({ text: "Loading data...." });
        return UserService.getRequestQuiz().then((res) => {
        this.$vs.loading.close();
        return (this.requestQuizzes = res.data);
      });
    },
    getOrderStatusColor(status) {
      if(status == 'activated') return "success"
      if(status == 'deactivated') return "warning"
    },
     toggleDataSidebar(val=false) {
      this.addNewDataSidebar = val
    },
    edit(data){
      this.sidebarData = JSON.parse(JSON.stringify(data));
      /* if (base_self.sidebarData.prefecture) {
        base_self.sidebarData.prefecture = base_self.sidebarData.prefecture.id
      } */
      // base_self.detail__detail = false;
      this.toggleDataSidebar(true);
    },
    
    /* supprimer (itemSupprimer) {
      base_self.$vs.loading()
      base_self.$http.delete(base_self.url + `/${itemSupprimer.slug}`)
      .then((response) => { window.getApp.success(window.getApp.suppresionMessage, response); base_self.getList() })
      .catch((error) => { window.getApp.error(error) })
    }, */

    DeleteRequestQuizz(id) {

      this.$vs.dialog({
        type:'confirm',
        color: 'danger',
        title: 'Confirmation',
        text: 'Are you sure to delete?',
        acceptText: 'Confirm',
        cancelText: 'Cancel',
        accept: async () => {
         
            return UserService.deleteRequestQuiz(id).then((res) => {
          this.$vs.notify({ title: res.data.message,  color:'success', position:'top-right' })
           //setTimeout(function(){ window.location.reload() }, 500);
           this.getQuizz();
        }).catch((error) => {
          this.$vs.notify({ title: res.data.message,  color:'danger', position:'top-right' })
        });
        }
      })
},
    newData(){
      this.sidebarData = {}
      this.toggleDataSidebar(true)
      
      //this.addNewDataSidebar = true;
    },
    editData(id){
      this.sidebarData = {}
      this.toggleDataSidebar(true)
    },
    multipleLevelDelete() {
      let selectedLevel = this.selected;
      var list = [];
      selectedLevel.map(function(value) {
        list.push(value._id);
      });
      return AdminService.multipleLevelDelete(list).then(
        res => {
          this.$vs.notify({ title:'Deleted Successfully', color:'success', position:'top-right' });
          setTimeout(function(){ window.location.reload() }, 500);
          console.log(res)
        }
      )
    }
  },
  created() {
    this.getQuizz();
    
  },
  mounted() {
    this.isMounted = true;
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/custom/table.scss"
</style>
