
<template>

  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>ADD NEW REQUESTED QUIZZ</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar class="scroll-area--data-list-add-new pt-4 pb-6" :settings="settings">
      <!-- <form enctype="multipart/form-data"> -->
      <div class="p-6">
        <vs-input v-validate="'required'" label="Number of Questions" name="numberOfQuestions" v-model="numberOfQuestions" class="mt-5 w-full" />
        <span class="text-danger text-sm"  v-show="errors.has('numberOfQuestions')">{{ errors.first('numberOfQuestions') }}</span>
        
        <vs-select v-validate="'required'" v-model="location" name="location"  label="Location" class="w-full">
          <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in locations" />
        </vs-select>
        <span class="text-danger text-sm"  v-show="errors.has('location')">{{ errors.first('location') }}</span>
        

          <div class="flex flex-wrap items-center justify-center p-6 custom-button-between" slot="footer">
          

        <label>{{$t('filename')}}
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
        </label>
        </div>

         <!-- <div class="flex flex-wrap items-center justify-center p-6 custom-button-between" slot="footer">
          

        <label>{{$t('secondFilename')}}
        <input type="file" id="secondfile" ref="secondfile" v-on:change="handleSecondFileUpload()"/>
        </label>
        </div> -->

        <!-- <label>{{$t('selectFiles')}}
         <input type="file" id="files" ref="files" multiple v-on:change="handleFileUploads()"/>
        </label>
        </div> -->

        

        <div class="flex flex-wrap items-center justify-center p-6 custom-button-between" slot="footer">
          <vs-button class="mr-6 btnCustom" @click="addSubmittedQuizz">Add Data</vs-button>
          <vs-button type="border btnCustom" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
      </div>
<!--       </form>  
 -->    </VuePerfectScrollbar>
  </vs-sidebar>
  
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { ADDLEVEL } from '@/store/actionType'
import { mapState } from 'vuex'
import UserService from '@/services/user.service.js';
export default {
  name: 'form-level',
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    }
    // locations: {
    //   type: Array
    // }
  },
  data() {
    return {
      numberOfQuestions: 6,
      files: '',
      file: '',
      secondfile: '',
      postData: '',
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
      location: "",
    }
  },
  computed: {
    token() {
      return this.$store
    },
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar');
          this.name = '';
          window.location.reload();
        }
      }
    },
    ...mapState({
      locations: state => state.auth.initialState.user.user.locations,
      userID: state => state.auth.initialState.user.user._id,
    })
  },
  created() {

  },
  methods: {
    /* handleFileUploads(){
  this.files = this.$refs.files.files;
  console.log('this.files :', this.files);
}, */
 handleFileUpload(){
        this.file = this.$refs.file.files[0];
      },
  handleSecondFileUpload(){
  this.secondfile = this.$refs.file.files[0];
},
    addLevel() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let rdata = {
            name: this.name,
            location: this.location,
            userID: this.userID,
          }
          this.$store.dispatch(ADDLEVEL, rdata).then(
            res => {
              if(res.data.message == 'Added successfully') {
                  this.$vs.notify({ title: res.data.message,  color:'success', position:'top-right' })
              } else if (res.data.message == 'This level has already existed!') {
                  this.$vs.notify({ title: res.data.message,  color:'warning', position:'top-right' })
              }

              this.name = '';
              this.location = ''
            },
            error => {
              console.log(error);
            }
          )
        }
      }
    )
    }, 
    addSubmittedQuizz(){
        this.$validator.validateAll().then(result => {

            let formData = new FormData();
            formData.append('numberOfQuestions', this.numberOfQuestions);
            formData.append('files', this.file);
            formData.append('files', this.secondfile);

            console.log('formData : ', formData); 
        
            /* return UserService.addRequestQuiz(formData).then(
              res => {
                console.log('rtest');
                console.log('resp : ', res);
              }
            ).catch(err => {
              console.log('vvvvvvvvvv');
              console.log('error : ', err);
            }) */

            return UserService.addRequestQuiz().then((res) => {
          //this.$vs.loading.close();
          return (this.postData = res.data);
        });
        console.log('this.postData : ', this.postData);

        });
    },
  },
  components: {
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  /deep/ .vs-sidebar--background {
    z-index: 52010;
  }

  /deep/ .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
@media(max-width: 800px) {
  .custom-button-between {
    margin-top: 10px;
    padding: 1rem !important;
  }
  .btnCustom {
    padding: .75rem 1rem !important;
  }
}
</style>
