<template>
  <div>

    <!--Correct section-->
    <section class="lp-hero">
      <!--Header-->
      <header class="header">
        <!--container-->
        <div class="container flex">
          <!-- Logo -->
          <div class="header__logo">
            <a href="/">
              <img class="titleImg" :src="titleImg" />
            </a>
          </div>
          <!--Navigation-->
          <nav class="nav">
            <!--List-->
            <ul class="nav__list flex" :style="{height:'100%', alignItems:'center'}">
              <!--Item-->
              <li class="nav__item dropdowner first-drop">
                <vs-button
                  color="white"
                  :style="{color:'black'}"
                  icon-pack="feather"
                  icon="icon-menu"
                  icon-after
                  @click="toggleLevelMenu"
                >{{ $t('Subjects') }}</vs-button>
                <div id="toggleLevelMenu" :style="{display: 'none'}">
                  <div class="grid-layout-container alignment-block">
                    <vs-row vs-align="center" vs-type="flex" vs-justify="center" vs-w="12">
                      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="10">
                        <vs-collapse accordion>
                          <h4 class="searchItemHeader">Level</h4>
                          <li
                            class="searchItemField"
                            :key="index"
                            v-for="(level,index) in searchItemLevels"
                            @click="categoryMenuOpen(level._id)"
                          >{{level.name}}</li>
                        </vs-collapse>
                      </vs-col>
                    </vs-row>
                  </div>
                </div>
                <div
                  id="toggleCategoryMenu"
                  v-if="isLevelMenu && isCategoryMenu && categoryMenuCheck"
                >
                  <div class="grid-layout-container alignment-block">
                    <vs-row vs-align="center" vs-type="flex" vs-justify="center" vs-w="12">
                      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="10">
                        <vs-collapse accordion>
                          <h4 class="searchItemHeader">Category</h4>
                          <li
                            class="searchItemField"
                            :key="index"
                            v-for="(category,index) in searchItemCategories"
                            @click="subjectMenuOpen(category._id)"
                          >{{category.name}}</li>
                        </vs-collapse>
                      </vs-col>
                    </vs-row>
                  </div>
                </div>
                <div
                  id="toggleSubjectMenu"
                  v-if="isLevelMenu && isCategoryMenu && isSubjectMenu && subjectMenuCheck"
                >
                  <div class="grid-layout-container alignment-block">
                    <vs-row vs-align="center" vs-type="flex" vs-justify="center" vs-w="12">
                      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="10">
                        <vs-collapse accordion>
                          <h4 class="searchItemHeader">subject</h4>
                          <li
                            class="searchItemField"
                            :key="index"
                            v-for="(subject,index) in searchItemSubjects"
                            @click="moveTrack(subject._id)"
                          >
                            <router-link
                              :to="'/track/' + subject._id"
                              :style="{fontSize: '1rem', padding: '3px'}"
                            >{{subject.name}}</router-link>
                          </li>
                        </vs-collapse>
                      </vs-col>
                    </vs-row>
                  </div>
                </div>
              </li>
              <!--Item-->
              <li class="nav__item">
                <!--Link-->
                <vs-col
                  vs-type="flex"
                  vs-align="center"
                  vs-lg="2"
                  vs-sm="12"
                  vs-xs="12"
                  v-if="windowWidth>810"
                >
                  <vs-dropdown
                    vs-custom-content
                    vs-trigger-click
                    class="cursor-pointer"
                    :style="{marginLeft: '20px'}"
                  >
                    <span class="cursor-pointer flex i18n-locale">
                      <img
                        class="h-4 w-5"
                        :src="require(`@/assets/images/flags/${$i18n.locale}.png`)"
                        :alt="$i18n.locale"
                      />
                      <span
                        class="hidden sm:block ml-2 language-select"
                        :style="{color:'black'}"
                      >{{ getCurrentLocaleData.lang }}</span>
                    </span>
                    <vs-dropdown-menu class="w-48 i18n-dropdown vx-navbar-dropdown">
                      <vs-dropdown-item @click="updateLocale('en')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/en.png" alt="en" /> &nbsp;English
                      </vs-dropdown-item>
                      <!--<vs-dropdown-item @click="updateLocale('fr')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/fr.png" alt="fr" /> &nbsp;French
                      </vs-dropdown-item>
                      <vs-dropdown-item @click="updateLocale('de')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/de.png" alt="de" /> &nbsp;German
                      </vs-dropdown-item>
                      <vs-dropdown-item @click="updateLocale('pt')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/pt.png" alt="pt" /> &nbsp;Portuguese
                      </vs-dropdown-item>-->
                    </vs-dropdown-menu>
                  </vs-dropdown>
                </vs-col>
                <vs-col
                  vs-type="flex"
                  vs-align="center"
                  vs-offset="10"
                  vs-sm="2"
                  vs-xs="2"
                  v-if="windowWidth<=810"
                >
                  <vs-dropdown
                    vs-custom-content
                    vs-trigger-click
                    class="cursor-pointer"
                    :style="{marginTop: '10px'}"
                  >
                    <span class="cursor-pointer flex i18n-locale">
                      <img
                        class="h-4 w-5"
                        :src="require(`@/assets/images/flags/${$i18n.locale}.png`)"
                        :alt="$i18n.locale"
                      />
                      <span
                        class="hidden sm:block ml-2 language-select"
                      >{{ getCurrentLocaleData.lang }}</span>
                    </span>
                    <vs-dropdown-menu class="w-48 i18n-dropdown vx-navbar-dropdown">
                      <vs-dropdown-item @click="updateLocale('en')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/en.png" alt="en" /> &nbsp;English
                      </vs-dropdown-item>
                      <!--<vs-dropdown-item @click="updateLocale('fr')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/fr.png" alt="fr" /> &nbsp;French
                      </vs-dropdown-item>
                      <vs-dropdown-item @click="updateLocale('de')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/de.png" alt="de" /> &nbsp;German
                      </vs-dropdown-item>
                      <vs-dropdown-item @click="updateLocale('pt')">
                        <img class="h-4 w-5 mr-1" src="@/assets/images/flags/pt.png" alt="pt" /> &nbsp;Portuguese
                      </vs-dropdown-item>-->
                    </vs-dropdown-menu>
                  </vs-dropdown>
                </vs-col>
              </li>
            </ul>
          </nav>
          <!--Search-->
          <div class="header__search">
            <input
              type="text"
              placeholder="Search for subjects..."
              v-model="search"
              @change="searchSubject()"
            />
          </div>
          <!--Logging-->
          <ul class="header__logging flex" v-if="this.loggedIn == false">
            <li class="signin">
              <a href="/login">
                <svg
                  id="account_circle-24px"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path id="Path" d="M0,0H24V24H0Z" fill="none" />
                  <path
                    id="Shape"
                    d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20Zm0-5.5c-1.8,0-4.48.838-4.93,1.78a7.926,7.926,0,0,0,9.86,0,3.419,3.419,0,0,0-1.918-1.228A9.645,9.645,0,0,0,10,14.5Zm0-2c1.451,0,4.914.57,6.36,2.33A7.92,7.92,0,0,0,18,10,8,8,0,0,0,2,10a7.919,7.919,0,0,0,1.64,4.83C5.086,13.07,8.55,12.5,10,12.5ZM10,11a3.491,3.491,0,1,1,2.478-1.022A3.479,3.479,0,0,1,10,11Zm0-5a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,10,6Z"
                    transform="translate(2 2)"
                  />
                </svg> Sign in
              </a>
            </li>
            <li class="signup">
              <a href="/register">Sign up</a>
            </li>
          </ul>
          <div
            class="the-navbar__user-meta flex items-center"
            :style="{marginLeft: '10px'}"
            v-if="this.loggedIn == true"
          >
            <div class="text-right leading-tight hidden sm:block">
              <p class="font-semibold">{{ this.username }}</p>
            </div>
            <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">
              <div class="con-img ml-3">
                <img src="@/assets/images/pages/avatar.svg" alt="avatar" width="32" />
              </div>
              <vs-dropdown-menu class="vx-navbar-dropdown">
                <ul style="min-width: 9rem" v-if="this.loggedIn">
                  <li
                    class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
                    @click="$router.push('/profile')"
                  >
                    <feather-icon icon="UserIcon" svgClasses="w-4 h-4"></feather-icon>
                    <span class="ml-2">{{$t('Profile')}}</span>
                  </li>
                  <li
                    class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
                    v-if="this.loggedIn && this.$store.getters.permission == 'superadmin' || this.$store.getters.permission == 'admin'"
                    @click="$router.push('/admin')"
                  >
                    <feather-icon icon="MailIcon" svgClasses="w-4 h-4"></feather-icon>
                    <span class="ml-2">{{$t('Dashboard')}}</span>
                  </li>
                  <li
                    class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
                    v-if="this.loggedIn && this.$store.getters.permission == 'author'"
                    @click="$router.push('/author')"
                  >
                    <feather-icon icon="MailIcon" svgClasses="w-4 h-4"></feather-icon>
                    <span class="ml-2">{{$t('Dashboard')}}</span>
                  </li>

                  <!-- for user -->
                  <li
                    class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
                    v-if="this.loggedIn && this.$store.getters.permission == 'user'"
                    @click="$router.push('/user')"
                  >
                    <feather-icon icon="MailIcon" svgClasses="w-4 h-4"></feather-icon>
                    <span class="ml-2">{{$t('Dashboard')}}</span>
                  </li>


                  <vs-divider class="m-1"></vs-divider>
                  <li
                    class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
                    @click.prevent="logOut"
                  >
                    <feather-icon icon="LogOutIcon" svgClasses="w-4 h-4"></feather-icon>
                    <router-link :to="'/'" class="ml-2 logout">Logout</router-link>
                  </li>
                </ul>
              </vs-dropdown-menu>
            </vs-dropdown>
          </div>

          <div class="header-mobile">
            <div class="button-ham">
              <img src="img/menu-24px.svg" alt />
            </div>
            <nav class="nav2" id="droping">
              <!--List-->
              <ul class="header__logging flex hide-hd">
                <li class="signin">
                  <a href="/login">
                    <svg
                      id="account_circle-24px"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path id="Path" d="M0,0H24V24H0Z" fill="none" />
                      <path
                        id="Shape"
                        d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20Zm0-5.5c-1.8,0-4.48.838-4.93,1.78a7.926,7.926,0,0,0,9.86,0,3.419,3.419,0,0,0-1.918-1.228A9.645,9.645,0,0,0,10,14.5Zm0-2c1.451,0,4.914.57,6.36,2.33A7.92,7.92,0,0,0,18,10,8,8,0,0,0,2,10a7.919,7.919,0,0,0,1.64,4.83C5.086,13.07,8.55,12.5,10,12.5ZM10,11a3.491,3.491,0,1,1,2.478-1.022A3.479,3.479,0,0,1,10,11Zm0-5a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,10,6Z"
                        transform="translate(2 2)"
                      />
                    </svg> Sign in
                  </a>
                </li>
                <li class="signup">
                  <a href="/register">Sign up</a>
                </li>
              </ul>
              <ul class="nav__list flex">
                <!--Item-->
                <li class="nav__item dropdowner first-drop">
                  <button onclick="myFunction(this)" class="dropbtner nav__link">Subjects</button>
                  <div id="myDropdowner" class="dropdowner-content">
                    <div class="row">
                      <div class="column">
                        <h3 class="uppercase">Level 1</h3>
                        <ul class="sublink">
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Chemistry</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="quiz.html">Organic chemistry</a>
                                <a href="quiz.html">Other chemistry</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Math</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="quiz.html">Linear algebra</a>
                                <a href="quiz.html">Other math</a>
                                <a href="quiz.html">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Physics</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">History</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="column">
                        <h3 class="uppercase">Level 2</h3>
                        <ul class="sublink">
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Chemistry</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Organic chemistry</a>
                                <a href="#">Other chemistry</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Math</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Physics</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">History</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="column">
                        <h3 class="uppercase">Level 3</h3>
                        <ul class="sublink">
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Chemistry</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Organic chemistry</a>
                                <a href="#">Other chemistry</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Math</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Physics</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">History</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="column">
                        <h3 class="uppercase">Level 4</h3>
                        <ul class="sublink">
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Chemistry</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Organic chemistry</a>
                                <a href="#">Other chemistry</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Math</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">Physics</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                          <li class="sublink-item">
                            <div class="dropdown">
                              <h4 onclick="myFunctioner(this)" class="dropbtn">History</h4>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="#">Linear algebra</a>
                                <a href="#">Other math</a>
                                <a href="#">Another topic</a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <!--Item-->
                <li class="nav__item">
                  <!--Link-->
                  <a href="#plans" class="nav__link">Plans</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </section>

    <router-view></router-view>
    <FrontFooter></FrontFooter>
  </div>
</template>

<script>
import ClientService from "@/services/client.service.js";
import { mapState } from "vuex";
import titleImg from "@/assets/images/logo/logo.png";
import FrontFooter from "./FrontFooter.vue";
import {
  LOGOUT,
  GETSUBJECTITEMS,
  GETLEVLEITEMS,
  SEARCHSUBJECT,
} from "../../store/actionType";
import "@/assets/css/frontend.css";
export default {
  data() {
    return {
      colorx: "darkorchid",
      activeItem: 0,
      search: "",
      titleImg: titleImg,
      isLevelMenu: false,
      // searchItemLevels: [],
      searchItemCategories: [],
      searchItemSubjects: [],
      SubjectItems: [],
      categoryMenuCheck: false,
      subjectMenuCheck: false,
    };
  },
  computed: {
    ...mapState({
      windowWidth: (state) => state.layout.windowWidth,
    }),
    loggedIn() {
      return this.$store.state.auth.initialState.status.loggedIn;
    },
    path() {
      return this.$route.path;
    },
    username() {
      if (this.$store.state.auth.initialState.status.loggedIn) {
        if (
          this.$store.state.auth.initialState &&
          this.$store.state.auth.initialState.user
        ) {
          return (
            this.$store.state.auth.initialState.user.user.firstname +
            " " +
            this.$store.state.auth.initialState.user.user.lastname
          );
        }
      } else {
        return "";
      }
    },
    // I18N
    getCurrentLocaleData() {
      const locale = this.$i18n.locale;
      if (locale == "en")
        return {
          flag: "us",
          lang: "English",
        };
      else if (locale == "pt")
        return {
          flag: "br",
          lang: "Portuguese",
        };
      else if (locale == "fr")
        return {
          flag: "fr",
          lang: "French",
        };
      else if (locale == "de")
        return {
          flag: "de",
          lang: "German",
        };
    },
    isCategoryMenu() {
      if (this.searchItemCategories.length > 0) {
        return true;
      }
      return false;
    },
    isSubjectMenu() {
      if (this.searchItemSubjects.length > 0) {
        return true;
      }
      return false;
    },
    ...mapState({
      loggedIn: (state) => state.auth.initialState.status.loggedIn,
      searchItemLevels: (state) => state.client.levelItems,
    }),
  },
  methods: {
    updateLocale(locale) {
      this.$i18n.locale = locale;
      this.categoryMenuCheck = false;
      this.subjectMenuCheck = false;
      this.$store.dispatch(GETSUBJECTITEMS, this.$i18n.locale);
      this.$store.dispatch(GETLEVLEITEMS, this.$i18n.locale);
    },
    logOut() {
      this.$store.dispatch(LOGOUT);
    },
    toggleLevelMenu() {
      var x = document.getElementById("toggleLevelMenu");
      if (x.style.display === "none") {
        x.style.display = "block";
        this.isLevelMenu = true;
      } else {
        x.style.display = "none";
        this.isLevelMenu = false;
        this.searchItemCategories = [];
        this.searchItemSubjects = [];
      }
    },
    categoryMenuOpen(id) {
      this.categoryMenuCheck = true;
      return ClientService.getSearchCategory(id).then((res) => {
        return (this.searchItemCategories = res.data);
      });
    },
    subjectMenuOpen(id) {
      this.subjectMenuCheck = true;
      return ClientService.getSearchSubject(id).then((res) => {
        return (this.searchItemSubjects = res.data);
      });
    },
    moveTrack(id) {
      document.getElementById("toggleLevelMenu").style.display = "none";
      this.isLevelMenu == false;
      this.categoryMenuCheck = false;
      this.subjectMenuCheck = false;
      if (this.loggedIn == false) {
        this.$router.push("/login");
      } else {
        this.$router.push("/track/" + id).catch(()=>{});
      }
    },
    searchSubject() {
      if (this.loggedIn == false) {
        this.$router.push("/login");
      } else {
        let rdata = {
          searchSubject: this.search,
          locale: this.$i18n.locale,
        };
        this.$store.dispatch(SEARCHSUBJECT, rdata).then((res) => {
          console.log(res);
          this.$router.push("/choose-subject");
        });
      }
    },
  },
  created() {
    this.$store.dispatch(GETSUBJECTITEMS, this.$i18n.locale);
    this.$store.dispatch(GETLEVLEITEMS, this.$i18n.locale);
  },
  components: {
    FrontFooter,
  },
};
</script>

<style>
#toggleLevelMenu {
  z-index: 999;
  position: absolute;
  width: 350px;
  padding: 10px 0;
  text-align: center;
  background-color: darkorchid;
  margin-top: 5px;
  -webkit-transition: ease-in 0.7s all !important;
  transition: ease-in 0.7s all !important;
  /* animation: animateleft 0.7s !important; */
}

#toggleCategoryMenu {
  z-index: 999;
  position: absolute;
  width: 350px;
  margin-left: 350px;
  padding: 10px 0;
  text-align: center;
  background-color: darkorchid;
  margin-top: 5px;
  -webkit-transition: ease-in 0.7s all !important;
  transition: ease-in 0.7s all !important;
  /* animation: animateleft 0.7s !important; */
}

#toggleSubjectMenu {
  z-index: 999;
  position: absolute;
  width: 350px;
  margin-left: 700px;
  padding: 10px 0;
  text-align: left !important;
  background-color: darkorchid;
  margin-top: 5px;
  -webkit-transition: ease-in 0.7s all !important;
  transition: ease-in 0.7s all !important;
  /* animation: animateleft 0.7s !important; */
}

@media (max-width: 800px) {
  #toggleLevelMenu {
    z-index: 999;
    position: absolute;
    width: 150px;
    padding: 1px 0;
    text-align: left !important;
    background-color: darkorchid;
    margin-left: -10px;
    margin-top: 5px;
    -webkit-transition: ease-in 0.7s all !important;
    transition: ease-in 0.7s all !important;
    font-size: 15px;
    /* animation: animateleft 0.7s !important; */
  }

  #toggleCategoryMenu {
    z-index: 999;
    position: absolute;
    width: 115px;
    margin-left: 115px;
    padding: 1px 0;
    text-align: left !important;
    background-color: darkorchid;
    margin-top: 5px;
    -webkit-transition: ease-in 0.7s all !important;
    transition: ease-in 0.7s all !important;
    font-size: 15px;
    /* animation: animateleft 0.7s !important; */
  }

  #toggleSubjectMenu {
    z-index: 999;
    position: absolute;
    width: 120px;
    margin-left: 220px;
    padding: 1px 0;
    text-align: center;
    background-color: darkorchid;
    margin-top: 5px;
    -webkit-transition: ease-in 0.7s all !important;
    transition: ease-in 0.7s all !important;
    font-size: 15px;
    /* animation: animateleft 0.7s !important; */
  }

  #toggleLevelMenu .vs-col {
    padding: 0 5px !important;
  }

  #toggleCategoryMenu .vs-col {
    padding: 0 5px !important;
  }

  #toggleSubjectMenu .vs-col {
    padding: 0 5px !important;
  }

  #toggleLevelMenu .vs-col .vs-collapse,
  #toggleCategoryMenu .vs-col .vs-collapse,
  #toggleSubjectMenu .vs-col .vs-collapse {
    padding: 5px !important;
  }
}

.searchItemField {
  margin-top: 5px;
  color: bisque;
}

.searchItemHeader {
  color: yellow;
  text-decoration-line: underline;
}
</style>
