
<template>

  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{(Object.entries(this.data).length === 0 ? "ADD NEW" : "EDIT A") }} SUBMITTED QUIZZ</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar class="scroll-area--data-list-add-new pt-4 pb-6" :settings="settings">
      <!-- <form enctype="multipart/form-data"> -->
      <div class="p-6">
        <!-- <vs-input v-validate="'required'" label="Number of Questions" name="numberOfQuestions" v-model="input.numberOfQuestions" class="mt-5 w-full" />
        <span class="text-danger text-sm"  v-show="errors.has('numberOfQuestions')">{{ errors.first('numberOfQuestions') }}</span> -->
        
       <!--  <vs-select v-validate="'required'" v-model="chapter" name="chapter"  label="Chapter" class="w-full">
          <vs-select-item :key="index" :value="item._id" :text="item.name" v-for="(item,index) in chapters" />
        </vs-select>
        <span class="text-danger text-sm"  v-show="errors.has('chapter')">{{ errors.first('chapter') }}</span>
        
        
         <vs-select v-validate="'required'" v-model="subject" name="subject"  label="Subject" class="w-full">
          <vs-select-item :key="index" :value="item._id" :text="item.name" v-for="(item,index) in subjects" />
        </vs-select>
        <span class="text-danger text-sm"  v-show="errors.has('subject')">{{ errors.first('subject') }}</span>
         -->


        <!-- <p class="mt-5" >Subject </p>
        <v-select  class="w-full" label="name" v-model="input.subject" :options="subjects"></v-select> -->

        <p class="mt-5" >Chapter <b style="color: #ff6141">*</b> </p>
        <v-select  class="w-full" label="name" v-model="input.chapter" :options="chapters"></v-select>
                <!-- <span v-if="error.role || all_errors.role.length" class="span-text-validation con-text-validation span-text-validation-danger vs-input--text-validation-span">
                  <p v-for="(err, io) in all_errors.role" :key="io" style="margin-bottom: 4px !important; font-size: 13px">{{err}}</p>
                </span> -->


         <!-- <vs-select v-validate="'required'" v-model="location" name="location"  label="Location" class="w-full">
          <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in locations" />
        </vs-select>
        <span class="text-danger text-sm"  v-show="errors.has('location')">{{ errors.first('location') }}</span>
 -->
          <div class="flex flex-wrap items-center justify-center p-6 custom-button-between" slot="footer">
          

        <label>{{$t('File')}}

        <!-- <input type="file" class="hidden" ref="updateImgInput1" @change="updateCurrImg1" multiple accept="image/*"> -->

        <!-- <input type="file" class="hidden" ref="updateImgInput1" @change="handleFileUpload">

      <div v-if="!detail__detail" class="upload-img mt-5 mb-2">
        <vs-button icon-pack="feather" icon="icon-plus" @click="$refs.updateImgInput1.click()">Preuves</vs-button>
      </div> -->

        <input type="file" id="file" ref="file" v-on:change="handleFileUpload"/>

        </label>
        </div>

        <!-- <label>{{$t('selectFiles')}}
         <input type="file" id="files" ref="files" multiple v-on:change="handleFileUploads()"/>
        </label>
        </div> -->

        

        <div class="flex flex-wrap items-center justify-center p-6 custom-button-between" slot="footer">
          <vs-button class="mr-6 btnCustom" @click="submitData">{{(Object.entries(this.data).length === 0 ? "Add" : "Edit") }} Data</vs-button>
          <vs-button type="border btnCustom" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
      </div>
<!--       </form>  
 -->    </VuePerfectScrollbar>
  </vs-sidebar>
  
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { ADDLEVEL } from '@/store/actionType'
import { mapState } from 'vuex';
import UserService from '@/services/user.service.js';

var base_self;
    var input_tempon = {
      id: null,
      chapter: '',
      subject: '',
      filename: '',
    };

export default {
  name: 'form-level',
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    }, 
     data: {
              type: Object,
              default: () => {},
            },
    // locations: {
    //   type: Array
    // }
  },
  
  data() {
    return {
      file: null,
      secondfile: '',
      postData: '',
      chapter: '',
      subject: '',
      chapters: [],
      subjects: [],
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
      location: "",
      input: JSON.parse(JSON.stringify(input_tempon)),
      input1: JSON.parse(JSON.stringify(input_tempon)),
    }
  },
  computed: {
    token() {
      return this.$store
    },
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar');
          this.name = '';
          //window.location.reload();
        }
      }
    },
    ...mapState({
      requestQuizzes: state => state.auth.initialState.user.user.locations,
      userID: state => state.auth.initialState.user.user._id,
    })
  },
  created() {
    this.initValues();
    base_self = this;
    //this.$store.registerModule('quizz', moduleQuizz)
    //this.setSidebarWidth()

    

    // Fetch Tasks
    //this.$store.dispatch("quizz/fetchTasks")
    
  },
  watch: {
    async isSidebarActive() {
        this.initValues();
        if (this.data && this.data._id) {
          Object.assign(this.input, JSON.parse(JSON.stringify(this.data)));
          //this.initValues();
          //this.input = JSON.parse(JSON.stringify(this.data));
        }
    }
  },
  methods: {

    getChapters(){
      return UserService.getChapters().then((response) => {
          this.chapters = response.data
      }).catch((error) => {
          console.log('getchapters error : ', error);
      })
    },
    getSubjects(){
      return UserService.getSubjects().then((response) => {
          this.subjects = response.data
      }).catch((error) => {
          console.log('getsubjects error : ', error);
      })
    },
    
initValues() {
  this.getChapters();
  this.getSubjects();
                
  this.input = JSON.parse(JSON.stringify(input_tempon));
  this.input1 = JSON.parse(JSON.stringify(input_tempon));
  this.file = null;
  //this.detail__detail = false;
  // window.getUsers.sidebarData.detail__detail = false;
            },
 handleFileUpload(){
   console.log('this.refs : ', this.$refs.file.files[0]);
      this.file = this.$refs.file.files[0];
      //console.log('this.file :', this.file);
    },
  /* handleSecondFileUpload(){
    console.log('this.refs2 : ', this.$refs.secondfile.files[0]);
    this.secondfile = this.$refs.secondfile.files[0];
}, */
    
    /* clearFields() {
            Object.assign(this.input, {
      id: null,
      chapter: '',
      subject: '',
      filename: '',
    })
        }, */
    submitData(){

      var input = JSON.parse(JSON.stringify(this.input));

      console.log('input: desired: ', input)
      
      let formData = new FormData();
      formData.append('chapter', this.input.chapter._id);
      formData.append("files", this.file);

      // formData.append('files', this.file);
      

      console.log('formData : ', formData); 
      if(!input._id) {    

        console.log('ici');

        this.$store.dispatch('quizz/addSubmitQuiz', formData).then(
          res => {
            console.log('I m here');
            this.$vs.notify({ title: 'Added successfully !',  color:'success', position:'top-right' })
            this.$emit('closeSidebar');
            this.initValues();
            //this.file = null;
            
          }
        ).catch(error => {
          this.$vs.notify({ title: 'An error occured !',  color:'danger', position:'top-right' })
        });


      }else if(input._id){

        console.log('là');

        this.$store.dispatch('quizz/updateSubmitQuiz', input._id, formData).then(
          res => {
            console.log('I m here');
            this.$vs.notify({ title: 'Updated successfully !',  color:'success', position:'top-right' })
            //this.clearFields();
            this.$emit('closeSidebar');
            this.initValues()
            
          }
        ).catch(error => {
          this.$vs.notify({ title: 'An error occured !',  color:'danger', position:'top-right' })
        });

      }
        this.$validator.validateAll().then(result => {

        
            /* return UserService.addRequestQuiz(formData).then(
              res => {
                console.log('rtest');
                console.log('resp : ', res);
              }
            ).catch(err => {
              console.log('vvvvvvvvvv');
              console.log('error : ', err);
            }) */

            
        console.log('this.postData : ', this.postData);

        });
    },
  },
  components: {
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  /deep/ .vs-sidebar--background {
    z-index: 52010;
  }

  /deep/ .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
@media(max-width: 800px) {
  .custom-button-between {
    margin-top: 10px;
    padding: 1rem !important;
  }
  .btnCustom {
    padding: .75rem 1rem !important;
  }
}
</style>
